@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Мытищи<br />
    <br />
    <abbr title="Phone">Телефон:</abbr>
    7 910-42-34-798
</address>

<address>
    <strong>Support:</strong>   <a href="#">krikunov@bigmir.net</a><br />
    
</address>